Jinja2==2.7.3
MarkupSafe==0.23
argparse==1.2.1
chardet==2.2.1
lamson==1.3.4
lockfile==0.9.1
mock==1.0.1
mongoengine==0.8.7
nose==1.3.4
pymongo==2.7.2
python-daemon==1.6.1
python-modargs==1.7
wsgiref==0.1.2
